.container-body {
  text-align: center;
  background-color: transparent;
  margin-top: 50px;
}

.text-muted {
  margin-bottom: 20px;
}

.jumbotron img {
  height: 50%;
  width: 50%;
}

.reference p{
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}

.centered {
  text-align: center;
}
